@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div align="center" class="menu-header">
        <img src="/css/WMS.logo.jpg" alt="WMS Logo" />
        <h1>
            <span>WMS Inventory Tracker</span>
        </h1>

    </div>
    <br />
    <div align="left" class="menu">
        <div align="center">
            <h1>
                <span>Main Menu</span>
            </h1>
        </div>
        <br />
        <ul>
            <li>
<<<<<<< HEAD
<<<<<<< Updated upstream
                <a style="color: indianred" href='@Url.Action("Index", "Accounts")'>Display</a> Account information
=======
                <a style="color: white; cursor: pointer" onClick='location.href="/Accounts/Details/"+@TempData["acctId"]'><u>Account</u></a>
>>>>>>> Stashed changes
=======
                <a href='@Url.Action("Index", "Accounts")'>Account information</a>
>>>>>>> 59db970c3a2ed565f0cda55f195af35ad95c1780
            </li>
            <li>
                <a href='@Url.Action("Index", "StorageLocation")'>Storage Locations</a>
            </li>
            <li>
<<<<<<< HEAD
<<<<<<< Updated upstream
                <a style="color: indianred" href='@Url.Action("Index", "Container")'>Display</a> a list of Containers
=======
                <a style="color: white; cursor: pointer" onClick='location.href="/Container/Account/"+@TempData["acctId"]'><u>Containers</u></a>
>>>>>>> Stashed changes
=======
                <a href='@Url.Action("Index", "Container")'>Containers</a>
>>>>>>> 59db970c3a2ed565f0cda55f195af35ad95c1780
            </li>
            <li>
                <a href='@Url.Action("Index", "Contents")'>Content</a>
            </li> 
            <li>
                <a href='@Url.Action("Create", "StorageLocation")'>Add</a> a new Storage Location
            </li>
            <li>
                <a href='@Url.Action("Create", "Container")'>Add</a> a new Container
            </li>
            <li>
                <a href='@Url.Action("Create", "Contents")'>Add</a> new Content
            </li>

        </ul>
        <br />
        <br />
        <br />
    </div>

</body>
