@model WMS_Inventory_API_Client.Models.StorageLocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details of Storage Location</h1>



<div>
    <table class="table">
        <caption>
            Storage Location
        </caption>
        <thead>
            <tr>
                <th>
                    Location Name
                </th>
                <th>
                    Address 1
                </th>
                <th>
                    Address 2
                </th>
                <th>
                    City
                </th>
                <th>
                   State
                </th>
                <th>
                    ZipCode
                </th>
                <th>
                   Longitude
                </th>
                <th>
                   Latitude
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
    <td>
                    @Html.DisplayFor(model => model.LocationName)
    </td>

    <td>
                    @Html.DisplayFor(model => model.Address1)
    </td>

    <td>
                    @Html.DisplayFor(model => model.Address2)
    </td>

    <td>
                    @Html.DisplayFor(model => model.City)
    </td>

    <td>
                    @Html.DisplayFor(model => model.State)
    </td>

    <td>
                    @Html.DisplayFor(model => model.ZipCode)
    </td>

    <td>
                    @Html.DisplayFor(model => model.Longitude)
    </td>

    <td>
                    @Html.DisplayFor(model => model.Latitude)
    </td>

            </tr>
        </tbody>
    </table>


<br/>
<div id="no-more-tables">
<table class="table">
        <caption>
            Containers
        </caption>
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
             <th>
                 Details
              </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.container)
        {
            <tr>
                    <td data-title="Type">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                    <td data-title="Description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                    <td>
                        @{
                            TempData["containerId"] = item.Id;
                        }
                        <a style="color: royalblue; cursor: pointer" onClick='location.href="/Container/Details/"+@TempData["containerId"]'><u>Back to Container</u></a>

                    </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />
