@model WMS_Inventory_API_Client.Models.StorageLocation

@{
    ViewData["Title"] = "Details";
    TempData["accountId"] = Html.DisplayFor(model => model.AccountId);
}

<h1>Details of Storage Location</h1>

<div>
    <h4>StorageLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <!--<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>-->
    </dl>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.container)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{
                        TempData["id"] = item.Id;
                    }
                    <a style="color: royalblue; cursor: pointer" onClick='location.href="/Container/Edit/"+@TempData["id"]'><u>Edit</u></a> |
                    <a style="color: royalblue; cursor: pointer" onClick='location.href="/Container/Details/"+@TempData["id"]'><u>Details</u></a> |
                    <a style="color: royalblue; cursor: pointer" onClick='location.href="/Container/Delete/"+@TempData["id"]'><u>Delete</u></a>
                </td>

            </tr>
        }
    </tbody>
</table>

<div>
    <a style="color: white; cursor: pointer" onClick='location.href="/StorageLocation/Account/"+@TempData["accountId"]'><u>Back to Storage Location List</u></a>
</div>
<br />
<br />
